/* 
black: #000000; orange: #ff8901; gray: #c5c5c5; white: #FFFFFF;
*/
.callback{
    padding: 20px;
}
#callback-form{
    border: 1px solid #ff8901;
    background: #c5c5c530;
    max-width: 70%;
    margin: auto;
    padding: 10px;
}
#callback-form br{
    margin: 10px;
}
#callback-form input, #callback-form textarea{
    border: 1px solid #ff8901;
}
#callback-form textarea{
    width: 60%;
}
.sale__image{
    width: 70%;
    margin: auto;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
	display: block;
	pointer-events: auto;
}
.modalDialog > div {
	max-width: 400px;
    width: 80%;
    max-height: 80%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #FFFFFF;
}
.close {
	background: #c5c5c5;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #ff8901; }
.modalDialog img{
	width: 80%;
}
body{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin: 0;
    background-color: #FFFFFF;
    background-image: url(img/content/gears-bg.jpg);
}
body > *{
    max-width: 1366px;
    margin: 0 auto;
}
.header{
    background-color: #FFFFFF;
    background-image: url(img/content/header-bg.png);
    padding: 5px 10px 0;
    max-width: 1346px;
}
.header__logo{
    margin: 0 auto;
    position: absolute;
    left:0;right:0;
}
.header__logo, .footer-logo{
    max-width: 200px; width: 15vw;
    max-height: 150px; height: 11vw;
}
.header__content{
    margin-top: 50px;
    padding-top: 5px;
}
p{
    margin: 5px;
}
h1{
    margin: 10px 0;
}
.btn{
    background-color: #FFFFFF;
    color: #000000;
    border-color: #ff8901;
    padding: 5px 15px;
    font: inherit;
    margin: 20px 0;
    transition: all 0.5s ease-in-out 0s;
}
.btn:hover{
    background-color: #ff8901;
    border-color: #c5c5c5;
    color: #FFFFFF;
}
.header__soc-refs{
    display: none;
}
.img-ref{
    margin: 5px;
}
.icon{
    width: 20px;
    height: 15px;
}
.header__image{
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 300px;
}
.main{
    background-color: #FFFFFF;
}
nav{
    position: fixed;
    height: 100%;
    width: 20%;
    right: 0; top:0;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding:2rem;
    background-color: #000000bb;
    z-index: 9999;
}
nav a{
    color: #ff8901;
}
nav a:hover{
    filter: brightness(1.5);
}
nav p{
    margin: 0;
    cursor: pointer;
    color:#FFFFFF;
}
.main > div{
    padding: 7% 20px;
}
.works{
    padding-top: 5vh;
}
.block-1{
    background: linear-gradient(180deg, #ff8901 5%, transparent 5%, transparent 95%, #ff8901 95%),linear-gradient(135deg, #ff8901 5%, transparent 5%, transparent 7%, #ff8901 7%, #ff8901 9%, transparent 9%, transparent 91%, #ff8901 91%, #ff8901 93%, transparent 93%, transparent 95%, #ff8901 95% ), url(img/content/gear-bg.png) no-repeat center;
}
.block-2{
    background:  linear-gradient(180deg, #ff8901 5%, transparent 5%, transparent 95%, #ff8901 95%),linear-gradient(135deg, #ff8901 5%, black 5%, black 6%, #FFFFFF 6%, #FFFFFF 8%, #ff8901 8%, #ff8901 10%, #000000 10%, #000000 11%, #c5c5c5 11%, #c5c5c5 12%, transparent 12%, transparent 88%, #c5c5c5 88%, #c5c5c5 89%, #000000 89%, #000000 90%, #ff8901 90%, #ff8901 92%, #FFFFFF 92%, #FFFFFF 94%, black 94%, black 95%, #ff8901 95% );
}
h2,h3,.footer p, .cite{
    color:#000000;
}
.introduce{
    width: 95%;
    margin: 0 auto;
}
.gallery{
    margin: 20px auto 0px;
}
.menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
}
.menu-item{
    margin: auto 10px;
    color: #000000;
    text-decoration: underline #ff8901;
    cursor: pointer;
}
.menu-item:hover, .menu-item:active{
    color: #ff8901;
}
a{
    text-decoration: none;
    border: none;
}
.gallery__workzone{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.workzone__content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery-item{
    width:80%;
    height: auto;
}
.hidden-mobile{
    display: none;
}
.arrow{
    cursor: pointer;
    height: 2rem;
    width: 1rem;
}
.arrow:hover{
    filter: brightness(3);
}
.why-we__menu-item:hover img{
    filter: brightness(3);
}
.adaptive-list{
    position: relative;
}
.bg-circle{
    width: 90%;
    height: 80vw;
    margin: 30px auto;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 20px solid #c5c5c5;
    box-shadow: 0 0 0 1px #ff8901;
}
.bg-circle img{
    width: 100%;
    height: auto;
}
.adaptive-list ul{
    text-align: left;
    list-style-type: none;
    width: 75vw;
    max-width: 1366px;
}
.adaptive-list li{
    color: #000000;
    margin: 10px;
}
.adaptive-list li::before{
    content: "";
    display: inline-block;
    background-color: #ff8901;
    border-radius: 50%;
    width: 10px; height: 10px;
    position: relative;
    left: -5vw;
}
.why-we{
    background-color: #FFFFFF;
}
.why-we__menu{
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
}
.why-we__menu-item{
    background-color: #c5c5c5;
    border: 10px solid #c5c5c5;
    width: 70%;
    max-width: 200px;
    height: 70vw;
    max-height: 200px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out 0s;
}
.why-we__menu-item img{
    margin-bottom: 15px;
}
.why-we__menu-item:hover{
    background-color: #ff8901;
}
.about-us{
    background-image: url(img/content/cekh-bg.JPG);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ff8901;
}
.about-us h2, .about-us h3{
    color: #ff8901;
}
.about-us__menu{
    text-align: left;
    margin: auto;
    padding: 1px;
}
.about-us__menu-item{
    width: 70%;
    height: auto;
    max-height: 200px;
    border:1px solid #ff8901;
    margin: 20px auto;
    padding:20px;
    padding-right: 40px;
    position: relative;
}
.about-us__menu-item div{
    background-color: #FFFFFF;
    height: 100%;
    width: 45px;
    position: absolute;
    right:0;
    bottom: 0; top: 0;
    margin: auto;
    border-left: 1px solid #ff8901;
}
.about-us__menu-item div img{
    position: absolute;
    right:15px;
    bottom: 0; top: 0;
    margin: auto;
}
.about-us__menu-item:hover{
    cursor: pointer;
}
.about-us__menu-item:hover div{
    background-color: #ff8901;
}
.about-us__menu-item:hover div img{
    filter: brightness(6);
}
.w100{
    height: 100vw;
    display: none;
}
.our-team{
    background-color: #FFFFFF;
}
.team-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.team-slider .arrow{
    width: 4vw;
    height: 8vw;
}
.team-slider .prev{
    position: absolute;
    left: 23vw; top:13vw;
}
.team-slider .next{
    position: absolute;
    right: 23vw; top:13vw;
}
.taemmate-pic{
    position: absolute;top:10px;
    margin: auto; left:0;right:0;
    width: 30vw;
    height: 30vw;
}
.about-teammate__text{
    margin-top: 15vw;
    padding-top: 17vw;
    padding-bottom: 10px;
    background-color: #c5c5c5;
}
.soc-refs{
    margin: 10px;
}
.soc-refs .introduce{
    display: inline-block;
}
.faq > div{
    text-align: left;
    margin: 20px;
    border: 1px solid #ff8901;
    width: 90%;
    position: relative;
    color: #000000;
    background-color: #c5c5c5;
}
.faq label{
    width: 90%;
    display: block;
    padding: 5px;
    padding-right: 10%;
    position: relative;
    cursor: pointer;
}
.faq label::before{
    display: block; position: absolute;
    right: 5px;bottom: 0;
    width: 10%; height: 100%;
    content: "";
    background-color: #FFFFFF; 
    border-left: 1px solid #ff8901;
}
.faq label::after{
    position: absolute;display: block;
    right: 5%; bottom: 0; top:20%; margin: auto;
    color: #ff8901;
    text-align: center;
    content: "+";
}
.faq-item__body{
    display: none;
    width: 97%;
    padding: 5px;
}
.faq input{
    display: none;
}
input:checked ~ div{
    display: block;
    border-top: 1px solid #ff8901;
}
input:checked ~ label::before{
    background-color: #ff8901;
    border-bottom: 1px solid #ff8901;
    height: calc(100% + 1px); bottom: -1px;
}
input:checked ~ label::after{
    content: "-";
    color: #000000;
}
.reviews .soc-refs{
    display: flex;
}
.reviews .icon{
    border: 1px solid #ff8901;
    padding: 3px;
}
.reviews .about-teammate__text{
    background-color: transparent
}
.footer{
    background-color: #FFFFFF;
    padding: 15px;
    max-width: 1336px;
}
.footer__content{
    max-width: 900px;
    width: 90%;
}
@media (min-width: 401px){
    .header{
        text-align: left;
    }
    .header__content{
        display: flex;
        justify-content: space-between;
    }
    .title{
        width: 50%;
    }
    .header__soc-refs{
        display: flex;
        justify-content: left;
    }
    .header__image{
        width: 50%;
        height: 48vw;
    }
    .introduce{
        width: 80%;
    }
    .gallery-item{
        width: auto;
        max-width: 90%;
    }
    .hidden-mobile{
        display: block;
        position: relative;
    }
    .gallery-item{
        display: none;
    }
    .middle-front{
        display: block;
        max-width: none;
        width:80%;
        height: auto;
    }
    .arrow{
        position: relative;
        width: 10px;
        height: 20px;
    }
    .prev{
        left: -20px;
    }
    .next{
        right: -20px;
    }
    .bg-circle{
        width:60vw;
        height: 55vw;
    }
    .adaptive-list li{
        position: absolute;
        width: 20vw;
        margin: 0;
    }
    #li-1{
        top: 5vw; right:69vw;
        text-align: right;
    }
    #li-1::before, #li-4::before{
        position: absolute;
        left:auto; right: -3vw;
    }
    #li-4{
        top: calc(54vw + 1%); right:69vw;
        text-align: right;
    }
    #li-2::before, #li-3::before{
        position: absolute;
        left: -3vw;
    }
    #li-2{
        top: calc(10vw + 2%); left: 76vw;
    }
    #li-3{
        top: calc(47vw + 2%); left: 76vw;
    }
    .faq > div{
        width: 80%;
        position: relative;
        left: 15%;
    }
    .faq-item::before{
        font-size: 32pt;
        color: #ff8901;
        position: absolute;
        left:-50px; top:-10px; 
    }
    .fi1::before{
        content:"01";
    }
    .fi2::before{
        content:"02";
    }
    .fi3::before{
        content:"03";
    }
    .fi4::before{
        content:"04";
    }
    .our-team .about-teammate{
        padding-bottom: 15vw;
    }
    .our-team .about-teammate__text{
        border: 20px solid #FFFFFF;
        box-shadow: 0 0 0 1px #ff8901;
        text-align: left;
        padding: 30px;
        margin-top: 2vw;
    }
    .our-team .taemmate-pic{
        top:auto;bottom: 10vw;right:20vw;left:auto;
        width: 20vw; height:20vw;
    }
    .our-team .team-slider .prev{
        width: 2vw; height: 4vw;
        top:auto;bottom: 10vw; right: 42vw; left:auto;
    }
    .our-team .team-slider .next{
        width: 2vw; height: 4vw;
        top:auto;bottom: 10vw; right: 16vw;
    }
    .our-team .about-teammate__text .introduce{
        margin: 20px 0;
    }
    .our-team .soc-refs{
        margin: 20px 0;
    }
    .footer__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    .footer-icons{
        order: -1;
    }
    .footer-logo{
        display: none;
    }
}
@media (min-width: 801px){
    .title{
        display: flex;
    }
    .header__text-content{
        width: 80%;
    }
    .header__soc-refs{
        width: 20%;
        order: -1;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .header__soc-refs::before{
        content: "";
        background-color: #00000063;
        height: 100px;
        width: 4px;
        position: relative;
        left:12px;bottom:10px;
    }
    #header-button{
        display: none;
    }
    nav{
        position: static;
        width: auto;
        display: flex;
        flex-direction: row;
        background: linear-gradient(0deg, #000000 1rem, transparent 1rem, transparent 4rem, #000000 4rem);
    }
    nav p{
        color: #000000;
    }
    .introduce{
        width: 70%;
    }
    .gallery__workzone{
        max-width: 90%;
        width: 800px;
        margin: auto;
    }
    .workzone__content{
        max-width: 750px;
        max-height: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .left-behind, .right-behind, .middle-front{
        position: static;
    }
    .left-behind, .right-behind{
        width: 350px;
        height: 150px;
    }
    .middle-front{
        width: 45%;
        height: 100%;
    }
    .right-behind{
        order: -1;
    }
    .bg-circle{
        width:45%;
        height: 45%;
    }
    .adaptive-list li{
        position: absolute;
        width: 20%;
        margin: 0;
    }
    #li-1{
        top: 14.5%; right:68.5%;
        text-align: right;
    }
    #li-1::before, #li-4::before{
        position: absolute;
        left:auto; right: -15px;
    }
    #li-4{
        top: 76%; right:71.5%;
        text-align: right;
    }
    #li-2::before, #li-3::before{
        position: absolute;
        left: -15px;
    }
    #li-2{
        top: 30%; left: 73.5%;
    }
    #li-3{
        top:60%; left: 75%;
    }
    .why-we__menu{
        flex-direction: row;
    }
    .why-we__menu-item{
        width: 17vw;
        height: 17vw;
    }
    .about-us__menu{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-height: 500px;
    }
    .about-us__menu-item{
        width: 40%;
        height: auto;
    }
    .w100{
        display: block;
    }
    .team-slider{
        max-width: 1366px;
    }
    .our-team .team-slider .prev, .reviews .team-slider .prev{
        bottom:auto; right: 94%; top: auto; left:auto;
        width: 2%; height: 10%;
    }
    .our-team .team-slider .next, .reviews .team-slider .next{
        bottom:auto; right: 0%; top:auto;
        width: 2%; height: 10%;
    }
    .our-team .taemmate-pic, .reviews .taemmate-pic{
        max-width: 300px; max-height: 300px;
        width: 30vw;height: 30vw;
        bottom: auto; top:auto; right: 100%;
    }
    .our-team .about-teammate, .reviews .about-teammate{
        max-width: 1200px;
        width: 50%; 
        position: relative;
        left: 40%;
        padding-bottom: 0;
    }
    .faq > div{
        width: 70%;
        left: 15%;
    }
    .reviews{
        position: relative;
    }
    .reviews .team-slider{
        height: 35vw;
        max-height: 380px;
    }
    .reviews .about-teammate__text{
        border: none;
        box-shadow: none;
        padding-top: 40px;
        margin-top: auto;
    }
    .reviews .taemmate-pic{
        left:auto;
    }
    .footer-logo{
        display: block;
        order: -2;
    }
}